#event-form {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  padding: 42px 20px 72px;
  flex-grow: 1;
  box-sizing: border-box;
}

#event-form .event-form-header {
  margin-bottom: 24px;
}

#event-form .event-form {
  grid-template-columns: 1fr;
  padding-top: 0;
}
